{% extends "main/base.html" %}
{% block title %}
<h1> Home</h1>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {%if not user.is_authenticated%}
    <p>New User? Create an account
    <a class="btn btn-primary btn-sm" href="/register" role="button"> here</a></p>
    {%else%}
    
    <div class="container mt-4">
        {% include "main/create.html" %}
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Your Feed</h3>
            </div>
           
            <ul class="list-group list-group-flush">
                {% for post in posts %}
                <li class="list-group-item">
                                    <img style="
                                    display:inline
                                    width:100px;
                                    height:100px;
                                    border-radius: 50%;
                                    " src="{{ profile.profileImage.url}}" alt="{{ user.username }}'s profile picture" class="img-thumbnail">
                       
-                    <h5>{{ post.user.username }}</h5>
                    <p>{{ post.textfield }}</p>
                    <small class="text-muted">{{post.dateCreated}}  {{post.created_at }}</small> 
                </li>
                <hr class="mt-2 mb-3"/>
                {% empty %}
                <li class="list-group-item">No tweets yet.</li>
                {% endfor %}
                
            </ul>
        </div>
    </div>
</body>
</html>
{%endif%}
{% endblock %}
